<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>
            <p>&copy; 2025 WanderLust. All rights reserved.</p>
        </div>
        <div>
            <div class="f-info-links">
                <a href="/about">About Us</a> | 
                <a href="/contact">Contact</a> | 
                <a href="/privacy">Privacy Policy</a> |
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>